<!DOCTYPE html>
<html>
    <head>
        <title>{{ category.name }}</title>
    </head>
    <body>
        {% if category %}
        <h1>{{ category.name }}</h1>
        {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href = "{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            <p><a href="{% url 'rango:add_page' category.name %}">Add a page to {{ category.name }}</a></p>
        {% else %}
            <strong>No pages currently in this category.</strong>
        {% endif %}
    {% else %}
        <p> The specified category does not exist.</p>
    {% endif %}

    </body>
</html>